/*La especificidad siempre la indicaremos con un comentario al principio del selector (delante)

/*0001
h2{ color:red}
h2 que esté justo detrás del h1 aplico X propiedad: h1 + h2 {color:blue}, */

/************* BODY Y HEADINGS +++++++++++++*/

/*(0,0,1)*/
body {
    font-family: "Futura Medium", "Gill Sans", "Verdana", sans-serif;
    font-size: 20pt;
    color: black;
    background-color: rgba(185,188,188,1);
    margin: 0;
}

/*(0,0,1)*/
header, footer {
    background-color: black;
    color: rgba(185,188,188,1);
    margin: 0;
}

/************* MENU NAVEGACIÓN +++++++++++++*/

/*(0,0,1)*/
nav { 
    text-align: left;
}


/************* ENLACES +++++++++++++*/

 /*(0,0,1)*/
a {
    text-decoration: none; /* Eliminar el subrayado de los links */
}
/*(0,1,1)*/
a:link { color: rgb(75, 73, 73)}
a:visited { color: purple; }
a:hover {color: black;}
a:active { color: orange; }

/********* MAIN *********/

main {
    padding: 3em;
}

/************* PÁRRAFOS +++++++++++++*/


/*(0,0,1)*/
p { font-size: 14pt;
    text-align: justify;
    text-indent: 50px;
}

/************* LISTAS +++++++++++++*/

/*(0,0,1)*/
ul { /* Todas las unordered lists */
    /*background-color: palegoldenrod;*/
    text-decoration: none;
}



/************* TABLAS +++++++++++++*/

/*(0,0,1)*/
table {
    background-color: gray;
    color: black;
}
/*(0,0,1)*/ /*NO FUNCIONA con el caracter ":" */
td { text-align:  center } /* Columna con valores del tipo 3:13 se alinea centrando el caracter ":"*/


